spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobtracker
    username: jobtracker
    password: jobtracker
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
jwt:
  secret: my-super-secret-key-for-jobtracker-123456
  expiration: 900000   # 15 minutes (in ms)
logging:
  level:
    org.springframework.security: DEBUG
